<!doctype html>
<html lang="en" ng-app="phonecat">
<head>
<meta charset="utf-8">
<title ng-bind-template="Google Phone Gallery: {{query}}">Google
	Phone Gallery</title>
<link rel="stylesheet" href="@routes.Assets.at("/app/css/bootstrap.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("/app/css/app.css")"/>

<script src="@routes.Assets.at("/app/lib/angular/angular.js")"></script>
<script src="@routes.Assets.at("/app/js/app.js")"></script>
<script src="@routes.Assets.at("/app/js/services.js")"></script>
<script src="@routes.Assets.at("/app/js/controllers.js")"></script>
<script src="@routes.Assets.at("/app/js/filters.js")"></script>
<script src="@routes.Assets.at("/app/js/directives.js")"></script>
<script src="@routes.Assets.at("/app/lib/angular/angular-resource.js")"></script>
</head>
<body>
	<div ng-view></div>
</body>
</html>
